$main-color: #fff;
$hover-color: #42ffef;
$deep-color: #343554;
$shadow: 0px 2px 5px rgba(0,0,0,.3);
$up-shadow: 5px -5px 10px rgba(0,0,0,.3),-5px -5px 10px rgba(0,0,0,.3);
$down-shadow: 5px 5px 10px rgba(0,0,0,.3),-5px 5px 10px rgba(0,0,0,.3);
// 
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);

.intro{
	background-image: url('../img/man-running.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	position: relative;		
	.intro-bg{
		height: 100vh;
		background: linear-gradient(180deg,rgba(0,0,0,0),rgba(52,53,84,.6));
		nav{
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
			position: relative;
			height: 10vh;
			#logo{
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				font-size: 25px;
				text-shadow: $down-shadow;
				color: $hover-color;
			}
			.navs {
				right: 0;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				li{
					font-size: 15px;
					padding: 10px 15px;
					display: inline-block;
					text-shadow: $shadow;
					color: $main-color;
					border: 4px solid rgba(0,0,0,0);
					&:hover{
						color: $hover-color;
						border: 4px solid $hover-color;
						background-color: rgba(0,0,0,.1);
						border-radius: 15px;
						box-shadow: $shadow;
					}
				}
			}
		}
		.phone-view{
			height: 75vh;
			position: relative;
			.iphone{
				width: 100%;
				height: 100%;
				.youtube{
					position: absolute;
					top: 50%;
					left: 50%;
					width: 30vh;
					height: 63vh;
					background-image: url('../img/iphone-black.png');
					background-repeat: no-repeat;
					background-size: 100% auto;
					background-position: center center;
					transform: translate(-50%,-50%);
					img{
						position: absolute;
						width: 88%;
						height: 74%;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
					}
				}

			}
			.title{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 100%;
				text-align: center;
				h1{
					font-family: 'cwTeXHei', sans-serif;
					font-size: 80px;
					// font-weight: bold;
					color: $main-color;
					text-shadow: $down-shadow;
				}
			}
		}
		.learn-more{
			height: 15vh;
			text-align: center;
			p{
				padding: 10px 30px;			
				font-size: 30px;
				border: 4px solid #FFF;
				border-radius: 25px;
				color: $main-color;
				letter-spacing:5px;
				display: inline-block;
				&:hover{
					color: $hover-color;
					border-color: $hover-color;
					text-shadow: $down-shadow;
				}
			}
		}
	}
}
.everywhere{
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: $deep-color;
	#map{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.iphone-gps{
		position: absolute;
		bottom: 6%;
		left: 9%;
		width: 25vh;
		height: 52.5vh;
		background-image: url('../img/iphone.png');
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center center;
		#gps{
			position: absolute;
			top: 49.8%;
			left: 50%;
			width: 88%;
			height: 74%;
			transform: translate(-50%,-50%)
		}
	}
	.iphone-stvw{
		position: absolute;
		bottom: 5%;
		left: 20%;
		width: 30vh;
		height: 63vh;
		background-image: url('../img/iphone.png');
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center center;
		#stvw{
			position: absolute;
			top: 49.8%;
			left: 50%;
			width: 88%;
			height: 74%;
			transform: translate(-50%,-50%);
		}
	}
	.text{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(circle,rgba(52,53,84,.1),rgba(24,25,40,.9));
		color: $main-color;
		text-shadow: $down-shadow;
		.title{
			text-align: center;
			h1{
				font-family: 'cwTeXHei', sans-serif;
				font-size: 80px;
				padding: 100px 0 10px 0;
			}
		}
		.word{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			.col-lg-4{
				height: 100vh;
				.introduce{
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					.slogan{
						font-family: 'cwTeXHei', sans-serif;
						font-size: 50px;
						padding: 0;
					}
					.tag{
						font-size: 30px;
						padding: 10px 0;
						color: $hover-color;
					}
				}
			}
		}
	}
}
.beats{
	background-image: url('../img/running.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	.beats-bg{
		width: 100vw;
		height: 100vh;
		background: rgba(0,0,0,.2);
		color: $main-color;
		text-shadow: $down-shadow;
		.title{
			text-align: center;
			h1{
				font-family: 'cwTeXHei', sans-serif;
				font-size: 80px;
				padding: 100px 0 10px 0;
			}
		}
		.word{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			.col-lg-4{
				height: 100vh;
				.introduce{
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					.slogan{
						font-family: 'cwTeXHei', sans-serif;
						font-size: 50px;
						padding: 0;
					}
					.tag{
						font-size: 30px;
						padding: 10px 0;
						color: $hover-color;
					}
				}
			}
		}
	}
}
.marathons{
  background-color: rgba(0,0,0,.9);
  background-image: url('../img/map.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 60%;
	width: 100vw;
	height: 110vh;
	.title{
		text-align: center;
		color: $main-color;
		text-shadow: $down-shadow;
		h1{
			font-family: 'cwTeXHei', sans-serif;
			font-size: 80px;
			padding: 100px 0 50px 0;
		}
	}
	.photos{
		padding: 0;
		.marathon{
			margin: 10px 0;
			position: relative;
			img{
				width: 100%;
				height: 100%;
			}
			.cover{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(52,53,84,.6);
				opacity: 0;
				h3{
					margin: 0;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					font-size: 40px;
					color: $hover-color;
				}
				&:hover{
					opacity: 1;
				}
			}
		}
	}
}
.contact{
  background-image: url('../img/join.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .bg{
		width: 100vw;
		height: 90vh;
  	background-color: rgba(0,0,0,.4);	
  }
	.title{
		text-align: center;
		color: $main-color;
		text-shadow: $down-shadow;
		h1{
			font-family: 'cwTeXHei', sans-serif;
			font-size: 80px;
			padding: 100px 0 20px 0;
		}
		p{
			font-size: 30px;
			padding: 20px 0;
			color: $hover-color;
		}
	}
	.action{
		margin: 10px;
		padding: 12px 20px;
		text-align: center;
		input{
			text-align: center;
			color: #000000 ;
			//input fisrt space
			text-indent:5px;
			background: #FFFFFF ;
			font-size: 20px;
			padding: 8px;
			width: 50%;
			background-color: #FFFFFF ;
			box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset,$shadow;
			margin: 0 auto 30px;
		}
		.signupButton{
			border-radius: 5px;
			width: 50%;
			font-size: 20px;
			padding: 8px;
			border: 1px solid $hover-color;
			background-color: $hover-color;
			box-shadow: $down-shadow;
		}
	}
}
@media (max-width: 450px) {
	.intro{
		display: none;
		.nav{
			#logo{
				left: 50%;
			}
			.navs{
				display: none;	
			}
		}
	}
	.everywhere{
		.iphone-stvw{
			left: 0;
			width: 100vw;
			height: 100vh;
			#stvw{
				width: 100vw;
				height: 100vh;
			}
		}
	}
	.beats{
		display: none;
	}
	.marathons{
		display: none;
	}
	.contact{
		display: none;
	}
}
