@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
.intro {
  background-image: url("../img/man-running.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative; }
  .intro .intro-bg {
    height: 100vh;
    background: linear-gradient(180deg, transparent, rgba(52, 53, 84, 0.6)); }
    .intro .intro-bg nav {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      position: relative;
      height: 10vh; }
      .intro .intro-bg nav #logo {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 25px;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.3);
        color: #42ffef; }
      .intro .intro-bg nav .navs {
        right: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
        .intro .intro-bg nav .navs li {
          font-size: 15px;
          padding: 10px 15px;
          display: inline-block;
          text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          color: #fff;
          border: 4px solid transparent; }
          .intro .intro-bg nav .navs li:hover {
            color: #42ffef;
            border: 4px solid #42ffef;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); }
    .intro .intro-bg .phone-view {
      height: 75vh;
      position: relative; }
      .intro .intro-bg .phone-view .iphone {
        width: 100%;
        height: 100%; }
        .intro .intro-bg .phone-view .iphone .youtube {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 30vh;
          height: 63vh;
          background-image: url("../img/iphone-black.png");
          background-repeat: no-repeat;
          background-size: 100% auto;
          background-position: center center;
          transform: translate(-50%, -50%); }
          .intro .intro-bg .phone-view .iphone .youtube img {
            position: absolute;
            width: 88%;
            height: 74%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
      .intro .intro-bg .phone-view .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center; }
        .intro .intro-bg .phone-view .title h1 {
          font-family: 'cwTeXHei', sans-serif;
          font-size: 80px;
          color: #fff;
          text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.3); }
    .intro .intro-bg .learn-more {
      height: 15vh;
      text-align: center; }
      .intro .intro-bg .learn-more p {
        padding: 10px 30px;
        font-size: 30px;
        border: 4px solid #FFF;
        border-radius: 25px;
        color: #fff;
        letter-spacing: 5px;
        display: inline-block; }
        .intro .intro-bg .learn-more p:hover {
          color: #42ffef;
          border-color: #42ffef;
          text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.3); }

.everywhere {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #343554; }
  .everywhere #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .everywhere .iphone-gps {
    position: absolute;
    bottom: 6%;
    left: 9%;
    width: 25vh;
    height: 52.5vh;
    background-image: url("../img/iphone.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center; }
    .everywhere .iphone-gps #gps {
      position: absolute;
      top: 49.8%;
      left: 50%;
      width: 88%;
      height: 74%;
      transform: translate(-50%, -50%); }
  .everywhere .iphone-stvw {
    position: absolute;
    bottom: 5%;
    left: 20%;
    width: 30vh;
    height: 63vh;
    background-image: url("../img/iphone.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center; }
    .everywhere .iphone-stvw #stvw {
      position: absolute;
      top: 49.8%;
      left: 50%;
      width: 88%;
      height: 74%;
      transform: translate(-50%, -50%); }
  .everywhere .text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(52, 53, 84, 0.1), rgba(24, 25, 40, 0.9));
    color: #fff;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.3); }
    .everywhere .text .title {
      text-align: center; }
      .everywhere .text .title h1 {
        font-family: 'cwTeXHei', sans-serif;
        font-size: 80px;
        padding: 100px 0 10px 0; }
    .everywhere .text .word {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .everywhere .text .word .col-lg-4 {
        height: 100vh; }
        .everywhere .text .word .col-lg-4 .introduce {
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
          .everywhere .text .word .col-lg-4 .introduce .slogan {
            font-family: 'cwTeXHei', sans-serif;
            font-size: 50px;
            padding: 0; }
          .everywhere .text .word .col-lg-4 .introduce .tag {
            font-size: 30px;
            padding: 10px 0;
            color: #42ffef; }

.beats {
  background-image: url("../img/running.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .beats .beats-bg {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.3); }
    .beats .beats-bg .title {
      text-align: center; }
      .beats .beats-bg .title h1 {
        font-family: 'cwTeXHei', sans-serif;
        font-size: 80px;
        padding: 100px 0 10px 0; }
    .beats .beats-bg .word {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .beats .beats-bg .word .col-lg-4 {
        height: 100vh; }
        .beats .beats-bg .word .col-lg-4 .introduce {
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
          .beats .beats-bg .word .col-lg-4 .introduce .slogan {
            font-family: 'cwTeXHei', sans-serif;
            font-size: 50px;
            padding: 0; }
          .beats .beats-bg .word .col-lg-4 .introduce .tag {
            font-size: 30px;
            padding: 10px 0;
            color: #42ffef; }

.marathons {
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 60%;
  width: 100vw;
  height: 110vh; }
  .marathons .title {
    text-align: center;
    color: #fff;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.3); }
    .marathons .title h1 {
      font-family: 'cwTeXHei', sans-serif;
      font-size: 80px;
      padding: 100px 0 50px 0; }
  .marathons .photos {
    padding: 0; }
    .marathons .photos .marathon {
      margin: 10px 0;
      position: relative; }
      .marathons .photos .marathon img {
        width: 100%;
        height: 100%; }
      .marathons .photos .marathon .cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(52, 53, 84, 0.6);
        opacity: 0; }
        .marathons .photos .marathon .cover h3 {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 40px;
          color: #42ffef; }
        .marathons .photos .marathon .cover:hover {
          opacity: 1; }

.contact {
  background-image: url("../img/join.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .contact .bg {
    width: 100vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.4); }
  .contact .title {
    text-align: center;
    color: #fff;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.3); }
    .contact .title h1 {
      font-family: 'cwTeXHei', sans-serif;
      font-size: 80px;
      padding: 100px 0 20px 0; }
    .contact .title p {
      font-size: 30px;
      padding: 20px 0;
      color: #42ffef; }
  .contact .action {
    margin: 10px;
    padding: 12px 20px;
    text-align: center; }
    .contact .action input {
      text-align: center;
      color: #000000;
      text-indent: 5px;
      background: #FFFFFF;
      font-size: 20px;
      padding: 8px;
      width: 50%;
      background-color: #FFFFFF;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset, 0px 2px 5px rgba(0, 0, 0, 0.3);
      margin: 0 auto 30px; }
    .contact .action .signupButton {
      border-radius: 5px;
      width: 50%;
      font-size: 20px;
      padding: 8px;
      border: 1px solid #42ffef;
      background-color: #42ffef;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.3); }

@media (max-width: 450px) {
  .intro {
    display: none; }
    .intro .nav #logo {
      left: 50%; }
    .intro .nav .navs {
      display: none; }

  .everywhere .iphone-stvw {
    left: 0;
    width: 100vw;
    height: 100vh; }
    .everywhere .iphone-stvw #stvw {
      width: 100vw;
      height: 100vh; }

  .beats {
    display: none; }

  .marathons {
    display: none; }

  .contact {
    display: none; } }

/*# sourceMappingURL=main.css.map */
